/* 
Project 2 - CSS styling and visual design
Water District Customer Portal 
*/

/* body styles the entire page*/
body {
  font-family: Arial, sans-serif;
  background-color: #3a9090;
  color: #FFFFFF;
  padding: 30px;
}

/* h1 styles the big title at the top */
h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 28px;
  border-bottom: 2px solid #FFFFFF;
  padding-bottom: 10px;
  margin-bottom: 20px; 
}

/* h2 styles section headings */
h2 { 
font-size: 16px;
margin-top: 30px;
margin-bottom: 10px;
}

/* div styles grouped sections */
div {
  background-color: #FFFFFF;
  border-radius: 25px;
  padding: 30px;
}

/* p styles paragraph text */
p {
  color: #A3AABE;
  font-size: 15px;
  margin-bottom: 8px;
}

/* table style the water usage history table */
table { 
  color: #A3AABE;
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

